.round {
  width: 64px;
  border-radius: 50%;
}
center {
  padding: 0 32px;
}
hr {
  border-color:#BD9B84;
}
a,
a:visited {
  color:#BD9B84;
}
a:hover {
  color:#8D694C;
}

/*
Site color scheme:
8D694C - Brown Dark
BD9B84 - Brown Medium
D7C2AD - Brown Light
F2F2F0 - Light Tan
363F59 - Blue

*/
