/*
Antarctican Mono Book
font-family: antarctican-mono,sans-serif;
font-weight: 400;
font-style: normal;

Antarctican Mono Bold
font-family: antarctican-mono,sans-serif;
font-weight: 700;
font-style: normal;

Antarctican Headline Bold
font-family: antarctican-headline,sans-serif;
font-weight: 400;
font-style: normal;

Antarctican Headline Bold
font-family: antarctican-headline,sans-serif;
font-weight: 700;
font-style: normal;
*/

.pad-top-10 {padding-top: 10px}
.pad-top-20 {padding-top: 20px}
.pad-top-30 {padding-top: 30px}
.pad-top-40 {padding-top: 40px}